In [97]:
import os
import pandas as pd
os.listdir()

['.ipynb_checkpoints',
 '480426a.json',
 'Altmetrics.ipynb',
 'last_quarter.csv',
 'last_quarter.json',
 'last_year.json',
 'rows.json']

In [103]:
df1 = pd.read_json('last_quarter.json')
df1

                                             results
0  {'title': 'Sloane Herbarium', 'doi': '10.5519/...
1  {'title': 'Insect Pollinators Initiative', 'do...
2  {'title': 'Phthiraptera collection', 'doi': '1...
3  {'title': 'Collection specimens', 'doi': '10.5...
4  {'title': 'Ludlow Museum Fossils in Shropshire...

In [99]:
results = pd.read_json( (df1['results']).to_json(), orient='index')
results

,added_on,altmetric_id,authors,cited_by_accounts_count,cited_by_feeds_count,cited_by_msm_count,cited_by_posts_count,cited_by_tweeters_count,cohorts,details_url,...,last_updated,published_on,readers,readers_count,schema,score,title,tq,type,url
0,1504187631,24571670,[Charlie Jarvis],2,1.0,NaN,2,1,{'pub': 1},http://www.altmetric.com/details.php?citation_...,...,1504561756,1479081600,"{'citeulike': 0, 'mendeley': 0, 'connotea': 0}",0,1.5.4,8.08,Sloane Herbarium,NaN,article,http://dx.doi.org/10.5519/0081520
1,1490970197,18352776,"[Professor Graham N Stone, Professor Alfried V...",13,1.0,NaN,18,12,{'pub': 12},http://www.altmetric.com/details.php?citation_...,...,1502017957,1490572800,"{'citeulike': 0, 'mendeley': 0, 'connotea': 0}",0,1.5.4,14.73,Insect Pollinators Initiative,[The #IPIArchive data is available via #openac...,article,http://dx.doi.org/10.5519/0062900
2,1503749404,24347051,"[Olha Schedrina, Louise Allan, Paul Brown, Lau...",3,NaN,NaN,3,3,{'pub': 3},http://www.altmetric.com/details.php?citation_...,...,1503748319,1503619200,"{'citeulike': 0, 'mendeley': 0, 'connotea': 0}",0,1.5.4,2.50,Phthiraptera collection,NaN,article,http://dx.doi.org/10.5519/0096731
3,1485265780,15737327,[Natural History Museum],21,NaN,1.0,21,20,"{'pub': 17, 'sci': 1, 'com': 2}",http://www.altmetric.com/details.php?citation_...,...,1500734621,1418774400,"{'citeulike': 0, 'mendeley': 1, 'connotea': 0}",1,1.5.4,25.25,Collection specimens,[Starting #advent with an illustration from Hi...,article,http://dx.doi.org/10.5519/0002965
4,1494602749,20076644,"[Daniel Lockett, Jackie Tweddle]",10,NaN,NaN,10,10,"{'pub': 8, 'sci': 2}",http://www.altmetric.com/details.php?citation_...,...,1500615949,1494460800,"{'citeulike': 0, 'mendeley': 0, 'connotea': 0}",0,1.5.4,7.95,Ludlow Museum Fossils in Shropshire Project data,NaN,article,http://dx.doi.org/10.5519/0015223

In [100]:
images = pd.read_json( (results['images']).to_json(), orient='index')
images

,large,medium,small
0,https://badges.altmetric.com/?size=180&score=9...,https://badges.altmetric.com/?size=100&score=9...,https://badges.altmetric.com/?size=64&score=9&...
1,https://badges.altmetric.com/?size=180&score=1...,https://badges.altmetric.com/?size=100&score=1...,https://badges.altmetric.com/?size=64&score=15...
2,https://badges.altmetric.com/?size=180&score=3...,https://badges.altmetric.com/?size=100&score=3...,https://badges.altmetric.com/?size=64&score=3&...
3,https://badges.altmetric.com/?size=180&score=2...,https://badges.altmetric.com/?size=100&score=2...,https://badges.altmetric.com/?size=64&score=26...
4,https://badges.altmetric.com/?size=180&score=8...,https://badges.altmetric.com/?size=100&score=8...,https://badges.altmetric.com/?size=64&score=8&...

In [101]:
full_results = pd.concat([results, images], axis=1, join_axes=[results.index])
full_results

,added_on,altmetric_id,authors,cited_by_accounts_count,cited_by_feeds_count,cited_by_msm_count,cited_by_posts_count,cited_by_tweeters_count,cohorts,details_url,...,readers_count,schema,score,title,tq,type,url,large,medium,small
0,1504187631,24571670,[Charlie Jarvis],2,1.0,NaN,2,1,{'pub': 1},http://www.altmetric.com/details.php?citation_...,...,0,1.5.4,8.08,Sloane Herbarium,NaN,article,http://dx.doi.org/10.5519/0081520,https://badges.altmetric.com/?size=180&score=9...,https://badges.altmetric.com/?size=100&score=9...,https://badges.altmetric.com/?size=64&score=9&...
1,1490970197,18352776,"[Professor Graham N Stone, Professor Alfried V...",13,1.0,NaN,18,12,{'pub': 12},http://www.altmetric.com/details.php?citation_...,...,0,1.5.4,14.73,Insect Pollinators Initiative,[The #IPIArchive data is available via #openac...,article,http://dx.doi.org/10.5519/0062900,https://badges.altmetric.com/?size=180&score=1...,https://badges.altmetric.com/?size=100&score=1...,https://badges.altmetric.com/?size=64&score=15...
2,1503749404,24347051,"[Olha Schedrina, Louise Allan, Paul Brown, Lau...",3,NaN,NaN,3,3,{'pub': 3},http://www.altmetric.com/details.php?citation_...,...,0,1.5.4,2.50,Phthiraptera collection,NaN,article,http://dx.doi.org/10.5519/0096731,https://badges.altmetric.com/?size=180&score=3...,https://badges.altmetric.com/?size=100&score=3...,https://badges.altmetric.com/?size=64&score=3&...
3,1485265780,15737327,[Natural History Museum],21,NaN,1.0,21,20,"{'pub': 17, 'sci': 1, 'com': 2}",http://www.altmetric.com/details.php?citation_...,...,1,1.5.4,25.25,Collection specimens,[Starting #advent with an illustration from Hi...,article,http://dx.doi.org/10.5519/0002965,https://badges.altmetric.com/?size=180&score=2...,https://badges.altmetric.com/?size=100&score=2...,https://badges.altmetric.com/?size=64&score=26...
4,1494602749,20076644,"[Daniel Lockett, Jackie Tweddle]",10,NaN,NaN,10,10,"{'pub': 8, 'sci': 2}",http://www.altmetric.com/details.php?citation_...,...,0,1.5.4,7.95,Ludlow Museum Fossils in Shropshire Project data,NaN,article,http://dx.doi.org/10.5519/0015223,https://badges.altmetric.com/?size=180&score=8...,https://badges.altmetric.com/?size=100&score=8...,https://badges.altmetric.com/?size=64&score=8&...

In [104]:
full_results.to_csv('last_quarter.csv')
os.listdir()

['.ipynb_checkpoints',
 '480426a.json',
 'Altmetrics.ipynb',
 'last_quarter.csv',
 'last_quarter.json',
 'last_year.json',
 'rows.json']